<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

	<nav class="navbar navbar-inverse">
		<div id="container-id" class="container-fluid">
			<div class="navbar-header">

			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>

			</ul>
		</div>
	</nav>
	<h1>
		{{ title }}
	</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-4">
			First
		</div>
		<div class="col-md-4">
			Second
		</div>
		<div class="col-md-4">
			Third
		</div>
		
	</div>
	
</div>